@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
}

:root {
  --bg-neutral: #ffffff;
  --bg-color: #fff8f5;
  --bg-sidebar: #e3966c;
  --bg-positive: #d1fae5;
  --bg-negative: #ffe4e6;
  --bg-composant-dash: #fbf2ed;

  --hover-sidebar: rgba(218, 148, 95, 0.3);

  --sideBar-color: #feb47b5b;

  --icon-color: #a53b22;
  --hover-signalement: #ffdad2;
  --input-color: rgba(222, 192, 185, 30%);
  --input-error: #ba1a1a;
  --border-color: #dec0b9;
  --button-color: linear-gradient(to right, #ff7e5f, #a53b22);
  --button-color-disable: #fffffff2;
  --button-color-image: lightgrey;
  --font-button-color-disable: black;
  --font-input: #8b716b;
  --font-placeholder: rgba(139, 113, 107, 0.6);
  --font-title: #a53b22;
  --color-arrow: #a53b22;

  --font-black: #1f1b18;
  --font-neutral: #ffffff;
  --font-darkBrown: #57423d;
  --font-brown: #a53b22;
  --font-red: #e11d48;
  --font-green: #059669;
  --font-grey: #414141;
  --bg-confirm-state: #cde5ff;
  --font-comfirm-state: #001d32;

  --bg-waiting-state: #ffdcc4;
  --font-waiting-state: #2f1400;

  --bg-valid-state: #b2f59e;
  --font-valid-state: #0c5b20;

  --bg-pending-state: #ba1a1a;
  --font-pending-state: #93000a;

  --color-chat: #ff7e5f;

  --bg-admin-report-card: white;
  --icon-color-user: #366286;
  --icon-bg-user: #dee9f3;
  --icon-color-event: #1b7a3d;
  --icon-bg-event: #d8f3dc;
  --icon-color-bug: #a53b22;
  --icon-bg-bug: #f3e0dc;

  --bg-table: white;
  --bg-state-ongoing: #fde2e1;
  --bg-state-finished: #d8f3dc;
  --border-inline: #f0f0f0;
  --color-label: #6b7280;
  --color-mail: #6b7280;
  --color-state-ongoing: #c0392b;
  --color-state-finished: #1b7a3d;
  --icon-eye-button-color: #a53b22;
  --icon-eye-button-color-hover: #ff7e5f;

  --signal: #ff3b30;
}
* {
  font-family: "Be Vietnam Pro", sans-serif;
}
body {
  background: var(--bg-color);

  .toast-success-popup {
    border-radius: 24px;

    .swal2-title {
      color: var(--font-green);
    }
  }

  .toast-warning-popup {
    border-radius: 24px;

    .swal2-title {
      color: var(--font-red);
    }
  }

  .toast-error-popup {
    border-radius: 24px;

    .swal2-title {
      color: var(--font-red);
    }
  }

  .swal2-container {
    z-index: 99999;
  }
}
