.ButtonAddEvent {
  background: linear-gradient(to right, #ff7e5f, #a53b22);
  color: var(--font-neutral);
  border-radius: 1rem;
  width: 17rem;
  height: 2rem;
  border: none;
  box-shadow: 1px 1px 5px black;
  transition: transform 0.2s;
}
@media (hover: hover) and (min-width: 429px) {
  .ButtonAddEvent:hover {
    transform: scale(0.95);
  }
}
