.HomeEvents-Global {
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 7rem 9rem 2rem 7rem;
  margin: 0;
  box-sizing: border-box;
  .HomeEvents-Title {
    color: var(--font-title);
  }
  .HomeEvents-FilterAdd {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 4rem 0;
  }
  .HomeEvents-CardGlobal {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);
    align-items: stretch;
    gap: 3rem;
    .HomeEvents-Card {
      list-style: none;
    }
  }
}

@media screen and (max-width: 875px) {
  .HomeEvents-Global {
    .HomeEvents-Title {
      text-align: center;
    }
    .HomeEvents-CardGlobal {
      justify-content: center;
    }
    .HomeEvents-FilterAdd {
      flex-direction: column-reverse;
      align-items: center;
      gap: 2rem;
      padding: 2rem 0 4rem 0;
    }
  }
}

@media screen and (max-width: 428px) {
  .HomeEvents-NavBar {
    height: 5rem;
  }
  .HomeEvents-Global {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 0;
    .HomeEvents-CardGlobal {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}
